@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,500;0,700;1,300&display=swap');
.header {
    background-color: #e21ced;
}
.header > h1 {
    background-color: #3c1ced;
    font-family: 'Kanit', sans-serif;
    color: white;
    border: 5px solid white;
    text-align: center;
}
.navigation-header > a {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px; ;
    border: 1px solid black;
    background-color: #0099ff;
    color: white;
}
.link-navigation-header:hover {
    background-color: yellow;
    color: black
}
.games {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: bold;
}
.games > h1 {
    font-weight: bold;
}
.servers {
    background-color: #a1c5ff;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: bold;
}
.header-servers:hover {
    color: red;
}
.button-servers {
    font-family: 'Nunito', sans-serif;
    background-color: blue;
    color: white;
}
.button-servers:hover {
    background-color: yellow;
    color: black;
}
.projects {
    background-color: #a3ffa1;
    font-family: 'Nunito', sans-serif;
}
.list-projects li a {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-decoration: none;
    margin-right: 10px;
    border: 1px solid black;
    background-color: red;
    color: white;
}
.ourteam {
    background-color: violet;
    font-family: 'Nunito', sans-serif;
}
.aboutus {
    background-color: #ffcc00;
    font-family: 'Nunito', sans-serif;
}
footer {
    background-color: #3c1ced;
    color: white;
    font-family: 'Nunito', sans-serif;
}
footer > h2 {
    font-family: 'Kanit', sans-serif;
}